@use '../abstracts' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--clr-dark));
  background-color: rgb(var(--clr-light));
  font-family: var(--ff-sans-serif);
  line-height: 1.5;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul {
  list-style-type: none;
}

a {
  color: var(--clr-dark);
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}
