:root {
  --clr-dark: 0 0 0;
  --clr-light: 255 255 255;
  --clr-light-dark: 51 51 51;
  --clr-light-bg: 242 241 236;
  --clr-accent: 224 149 44;
}

//utility
.text-light {
  color: rgb(var(--clr-light));
}

.text-dark {
  color: rgb(var(--clr-dark));
}

.text-accent {
  color: rgb(var(--clr-accent));
}

.text-light-dark {
  color: rgb(var(--clr-light-dark));
}

.bg-light {
  background-color: rgb(var(--clr-light));
}

.bg-dark {
  background-color: rgb(var(--clr-dark));
}

.bg-accent {
  background-color: rgb(var(--clr-accent));
}

.bg-light-bg {
  background-color: rgb(var(--clr-light-bg));
}
