$sm: 35rem;
$sm-2: 48rem;
$md: 56.25rem;
$lg: 64rem;

@mixin smallSize {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin smallSize2 {
  @media (min-width: #{$sm-2}) {
    @content;
  }
}

@mixin middleSize {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin largeSize {
  @media (min-width: #{$lg}) {
    @content;
  }
}
