@use '../abstracts/colors' as *;
@use '../abstracts/mixin' as *;

.footer-primary {
  --flow-gap: 2em;

  margin-block-start: 5em;
  padding-inline: 2.1875em;
}

.footer-wrapper {
  position: relative;
  padding-bottom: 3.125em;

  @include smallSize2 {
    padding-bottom: 0;
  }

  @include largeSize {
    --flow-gap: 0;

    display: flex;
  }
}

.footer-container::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgba(var(--clr-dark) / 0.3);
}

.footer-primary .logo-img {
  @include largeSize {
    flex-basis: 19.1875em;
    flex-grow: 1;
  }
}

.footer-primary .logo-img img {
  @include smallSize2 {
    margin-inline: auto;
  }

  @include largeSize {
    margin-inline: unset;
  }
}

.footer-container {
  @include smallSize2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @include largeSize {
    flex-basis: 44.8124em;
    flex-grow: 999;
  }
}

.footer-container ul:not(:last-child) {
  margin-block-end: 3.125em;
}

.footer-container ul > :not(:first-child) {
  color: rgba(var(--clr-dark) / 0.7);
  margin-block-end: 0.5em;
  font-weight: 500;
}

.footer-container ul > :first-child {
  margin-block-end: 2em;
}

.footer-container li:hover a {
  font-weight: 700;
}

div:has(.social-icons) {
  flex-direction: column;
  padding-block: 1em;

  @include smallSize2 {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social-icons > *:not(:last-child) {
  margin-inline-end: 1.5em;
}
