@use '../abstracts/mixin' as *;

.grid {
  display: grid;
  gap: var(--gap, 1em);
}

.grid-container {
  display: grid;
  align-items: center;
  padding-inline: 1.875em;
  text-align: center;

  @include middleSize {
    grid-template-columns:
      minmax(1.875rem, 1fr)
      repeat(2, minmax(0, 25rem))
      minmax(1.875rem, 1fr);
  }
}

.grid-container--home {
  @include middleSize {
    text-align: left;
  }
}
