@use '../abstracts' as *;

.header-primary {
  position: relative;
  z-index: 999;
}

.header-data-export {
  position: relative;
  z-index: 100;
}

.header-data-export {
  padding: 0.9375em 2.1875em;
}

.navigation {
  padding: 1.875em 2.1875em;
}

.flex--home {
  flex-wrap: wrap;
  align-items: flex-end;
}

.flex--home > :first-child {
  flex-grow: 1;
  flex-basis: 18.125em;
  margin-block-start: 1em;
}

.flex--home > :last-child {
  flex-grow: 999;
  flex-basis: 25em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: clamp(1em, 5vw, 4em);

  @include smallSize2 {
    justify-content: flex-end;
  }
}

.header-data-export .login {
  --gap: 1.5em;
  justify-content: center;
  align-items: flex-end;

  @include smallSize2 {
    justify-content: flex-start;
  }
}

.header-data-export .login > :first-child::after {
  content: '';
  display: inline-block;
  position: relative;
  left: 12px;
  z-index: 100;
  width: 2px;
  height: 20px;
  background-color: rgba(var(--clr-light) / 0.2);
}

.header-data-export .login > * {
  color: rgba(var(--clr-light) / 0.6);
  font-weight: 500;
}

.header-data-export .login > *:hover {
  color: var(--clr-light);
  cursor: pointer;
}

.header-data-export .contact > * {
  align-items: center;
}

.header-data-export .contact p {
  color: rgba(var(--clr-light) / 0.6);
  font-weight: 700;
}

/* navigation */

.navigation-primary {
  position: fixed;
  z-index: 99;
  inset: 0;
  padding-block-start: 7em;
  height: 100vh;
  height: 100svh;
  background: rgba(var(--clr-light));
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s ease;

  @include middleSize {
    position: unset;
    inset: unset;
    height: auto;
    opacity: 1;
    visibility: visible;
    flex: 1;
    padding-block-start: 0;
  }
}

.show {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow-y: hidden;
}

.nav-body {
  --gap: 1.875rem;

  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;

  @include middleSize {
    width: unset;
    height: unset;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    flex-direction: row;
    align-items: flex-start;
  }
}

.navigation-primary.show .nav-body {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navigation-primary .close-button-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-block: 2.5em;
  border: 1px solid rgb(51 51 51);
  border-radius: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  @include middleSize {
    display: none;
  }
}

.close-button {
  width: 100%;
  height: 100%;
  position: relative;
}

.close-button::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  background-color: rgb(51 51 51);
  transform: rotate(45deg);
}

.close-button::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgb(51 51 51);
  transform: rotate(-45deg);
  left: 50%;
}

.anim1 {
  overflow-x: clip;
}

.navigation-primary ul {
  --flow-gap: 1.24em;

  @include middleSize {
    --flow-gap: 0;

    display: flex;
    gap: 2em;
  }
}
.navigation-primary li {
  text-align: center;
}

.navigation-primary li a {
  font-size: 1.875rem;
  font-weight: 500;

  @include middleSize {
    font-size: 1rem;
    color: rgba(var(--clr-dark) / 0.8);
  }
}

.navigation-primary li a:hover {
  font-weight: 800;
}

.navigation-primary li.action a {
  color: var(--clr-dark);
  font-weight: 800;
}

.navigation {
  align-items: center;
}

.logo {
  --gap: 1.25em;
  flex: 1;

  @include middleSize {
    flex: unset;
  }
}

.logo::after {
  content: '';
  position: relative;
  left: 25px;
  width: 2px;
  height: 30px;
  background-color: rgb(51 51 51 / 0.4);
  align-self: flex-end;
  margin-block-end: 0.9375em;

  @include middleSize {
    left: 0;
    margin-inline: 1.5em;
  }
}

.shopping-basket {
  position: relative;
  padding: 0.937em;
  aspect-ratio: 1;
  background-color: rgb(var(--clr-accent));
  border-radius: 50%;
  cursor: pointer;

  @include smallSize2 {
    border-radius: 30px;
    display: flex;
    align-items: center;
    aspect-ratio: unset;
    padding: 0.9375em 3.125em;
  }
}

.shopping-basket::after {
  content: 'basket is empty';
  position: absolute;
  z-index: 999999;
  top: 3em;
  right: 0;
  width: 18.5em;
  height: 15em;
  box-shadow: 0 0 3px rgb(221 221 221);
  background-color: rgba(var(--clr-light));
  background-image: url(../images/header/shopping-cart-2.jpg);
  background-repeat: no-repeat;
  background-position: center 40%;
  border-radius: 16px;
  font-weight: 700;
  font-size: 1.25rem;
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  padding: 1em 0.5em;
  display: flex;
  align-items: end;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
}

@include smallSize2 {
  .shopping-basket:hover.shopping-basket::after {
    visibility: visible;
    opacity: 1;
  }
}

.shopping-basket > span {
  display: none;

  @include smallSize2 {
    display: block;
    margin-inline-end: 0.5em;
  }
}

/* hamburger */
.hamburger {
  display: inline-block;
  position: relative;
  border: none;
  background: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;

  @include middleSize {
    display: none;
  }
}

.hamburger :where(.hamburger-top, .hamburger-middle, .hamburger-bottom) {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(34 34 34);
  left: 0;
  top: 0;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}

.hamburger-middle {
  transform: translateY(9px);
}

.hamburger-bottom {
  transform: translateY(18px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateX(9px) translateY(9px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateX(-9px) translateY(9px);
}

/* Shopping-basket */
.shopping-cart {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 60%;
  height: 100svh;
  background-color: rgb(var(--clr-light));
  box-shadow: 4px 0 0 rgba(var(--clr-dark) / 0.1);
  padding: 1.25em;
  transform: translateX(-101%);
  transition: transform 0.7s ease;
}

.shopping-cart.action {
  transform: translateX(0);
}

.shopping-cart .flex {
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-btn {
  cursor: pointer;
}

.shopping-cart-img {
  place-content: center;
  padding-block: 3.437em;
}

.shopping-cart-btn img {
  transform: rotate(0);
  transition: transform 0.2s ease-in-out;
}
.shopping-cart-btn img:hover {
  transform: rotate(90deg);
}
