@use '../abstracts' as *;

.header-data-export {
  padding: 0.9375em 2.1875em;
}

.flex--home {
  flex-wrap: wrap;
  align-items: flex-end;
}

.flex--home > :first-child {
  flex-grow: 1;
  flex-basis: 18.125em;
  margin-block-start: 1em;
}

.flex--home > :last-child {
  flex-grow: 999;
  flex-basis: 25em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: clamp(1em, 5vw, 4em);

  @media (min-width: 48rem) {
    justify-content: flex-end;
  }
}

.header-data-export .login {
  --gap: 1.5em;
  justify-content: center;

  @media (min-width: 48rem) {
    justify-content: flex-start;
  }
}

.header-data-export .login > :first-child::after {
  content: '';
  display: inline-block;
  position: relative;
  left: 12px;
  z-index: 100;
  width: 2px;
  height: 20px;
  background-color: rgba(var(--clr-light) / 0.2);
}

.header-data-export .login > * {
  color: rgba(var(--clr-light) / 0.6);
  font-weight: 500;
}

.header-data-export .login > *:hover {
  color: var(--clr-light);
  cursor: pointer;
}

.header-data-export .contact > * {
  align-items: center;
}

.header-data-export .contact p {
  color: rgba(var(--clr-light) / 0.6);
  font-weight: 700;
}
